{% javascript %}
  
  
  setTimeout(function() {
    var bannerContent = document.querySelector(".banner__content");
    bannerContent.style.display = "block";
  }, 4000); // 4秒后显示div

 setTimeout(function() {
    var banner = document.getElementById("Banner-{{ section.id }}");
    var media = banner.getElementsByClassName("banner__media")[0];
    media.classList.add("banner__media--fadeOut");

    setTimeout(function() {
      media.innerHTML = `
        {%- liquid
          assign image_height_2 = section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio
          if section.settings.image != blank
            assign image_class_2 = 'banner__media-image-half'
          endif
          if section.settings.image != blank and section.settings.stack_images_on_mobile
            assign sizes = stacked_sizes
          elsif section.settings.image_2 != blank
            assign sizes = half_width
          else
            assign sizes = full_width
          endif
        -%}
        {{ section.settings.image_2 | image_url: width: 3840 | image_tag: loading: 'lazy', width: section.settings.image_2.width, height: image_height_2, class: image_class_2, sizes: sizes, widths: widths }}
      `;

      media.classList.remove("banner__media--fadeOut");
      media.classList.add("banner__media--fadeIn");
    }, 1300); // 1秒后显示image2
  }, 1800); // 2秒后开始取消显示image1


{% endjavascript %}

{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{%- if section.settings.only_desktop == true -%}
  {%- style -%}
     @media screen and (max-width: 749px) {
      #Banner-{{ section.id }} {
        display: none;
      }
    }
  {%- endstyle -%}
{%- endif -%}

{%- if section.settings.image_height == 'adapt' and section.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before,
      #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
    #Banner-{{ section.id }}::after {
      opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
    }
    .banner__media--fadeOut {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .banner__media--fadeIn {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
{%- endstyle -%}

{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'

  if section.settings.image_behavior == 'ambient'
    assign half_width = '60vw'
    assign full_width = '120vw'
    assign stacked_sizes = '(min-width: 750px) 60vw, 120vw'
    assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
  elsif section.settings.image_behavior == 'fixed'
    assign half_width = '100vw'
    assign stacked_sizes = '100vw'
  else
    assign half_width = '50vw'
    assign stacked_sizes = '(min-width: 750px) 50vw, 100vw'
  endif
-%}

<div
  id="Banner-{{ section.id }}"
  class="banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.image_height == 'adapt' and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
>
  <div class="banner__media media">
    {%- liquid
      assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
      assign image_class = ''
      if section.settings.image_2 != blank
        assign image_class = 'banner__media-image-half'
      endif
      if section.settings.image_2 != blank and section.settings.stack_images_on_mobile
        assign sizes = stacked_sizes
      elsif section.settings.image_2 != blank
        assign sizes = half_width
      else
        assign sizes = full_width
      endif
    -%}

    {{
      section.settings.image
      | image_url: width: 3840
      | image_tag:
        loading: 'lazy',
        width: section.settings.image.width,
        height: image_height,
        sizes: sizes,
        widths: widths
    }}
  </div>

  <div
    class="banner__content  banner__content--{{ section.settings.desktop_content_position }} page-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    style="display: none;"
  >
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
          <h1
            class="banner__heading inline-richtext "
            style="font-size:{{ block.settings.heading_font_size }}rem; top: {{ block.settings.heading_top }}vh; left: {{ block.settings.heading_right }}vw; position: relative; transform: rotate({{ block.settings.heading_rotate_degrees }});"
            {{ block.shopify_attributes }}
          >
            {{ block.settings.heading }}
          </h1>
        {%- when 'vertical_heading' -%}
          <h1
            class="banner__heading inline-richtext "
            style="font-size:{{ block.settings.vertical_heading_font_size }}rem;top: 32%; right: {{ block.settings.vertical_heading_position }}%; position: absolute; transform: rotate(90deg);"
            {{ block.shopify_attributes }}
          >
            {{ block.settings.vertical_heading }}
          </h1>
        {%- when 'text' -%}
          <div
            class="banner__text rte {{ block.settings.text_style }}"
            {{ block.shopify_attributes }}
          >
            <p>{{ block.settings.text }}</p>
          </div>
        {%- when 'buttons' -%}
          <div
            class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
            {{ block.shopify_attributes }}
          >
            {%- if block.settings.button_label_1 != blank -%}
              <a
                {% if block.settings.button_link_1 == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ block.settings.button_link_1 }}"
                {% endif %}
                class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
              >
                {{- block.settings.button_label_1 | escape -}}
              </a>
            {%- endif -%}
            {%- if block.settings.button_label_2 != blank -%}
              <a
                {% if block.settings.button_link_2 == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ block.settings.button_link_2 }}"
                {% endif %}
                class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
              >
                {{- block.settings.button_label_2 | escape -}}
              </a>
            {%- endif -%}
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "first-view-original",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
     {
      "type": "checkbox",
      "id": "only_desktop",
      "default": false,
      "label": "only show on desktop"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image-banner.settings.image_2.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__4.label"
        },
        {
          "value": "fullscreen",
          "label": "t:sections.slideshow.settings.slide_height.options__5.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-banner.settings.image_height.label",
      "info": "t:sections.image-banner.settings.image_height.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.image-banner.settings.desktop_content_position.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_box.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "fixed",
          "label": "t:sections.all.animation.image_behavior.options__3.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.mobile.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_below.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 5,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "range",
          "id": "heading_font_size",
          "min": 0,
          "max": 10,
          "step": 1,
          "default": 5,
          "label": "Heading Size (rem)"
        },
        {
          "type": "range",
          "id": "heading_top",
          "label": "heading Top Position",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 10
        },
        {
          "type": "range",
          "id": "heading_right",
          "label": "Heading Right Position",
          "min": -30,
          "max": 70,
          "step": 1,
          "default": 0
        },
        {
          "type": "select",
          "id": "heading_rotate_degrees",
          "options": [
            {
              "value": "0deg",
              "label": "0"
            },
            {
              "value": "90deg",
              "label": "90"
            },
            {
              "value": "180deg",
              "label": "180"
            },
            {
              "value": "270deg",
              "label": "270"
            }
          ],
          "default": "0deg",
          "label": "heading_rotate_degrees"
        }
      ]
    },
    {
      "type": "vertical_heading",
      "name": "vertical_heading",
      "limit": 5,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "vertical_heading",
          "default": "vertical_heading",
          "label": "vertical_heading"
        },
        {
          "type": "range",
          "id": "vertical_heading_font_size",
          "min": 1,
          "max": 12,
          "step": 1,
          "default": 6,
          "label": "Heading Size (rem)"
        },
        {
          "type": "range",
          "id": "vertical_heading_position",
          "label": "Heading Position",
          "min": -50,
          "max": 50,
          "step": 1,
          "default": 0
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "first-view-original",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
