{% if section.blocks.logo.settings.logo %}
  <a href="{{ routes.root_url }}">
    <div
      class="logo-wrapper"
      style="top: {{ section.blocks.logo.settings.logo_top }}vh; left: {{ section.blocks.logo.settings.logo_left }}vw;"
    >
      <img
        src="{{ section.blocks.logo.settings.logo | img_url: 'master' }}"
        alt="Logo"
        class="logo"
        style="width: {{ section.blocks.logo.settings.logo_size }}vw;"
      >
    </div>
  </a>
{% endif %}

{% schema %}
{
  "name": "nav-bar",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["footer"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "logo",
      "name": "logo",
      "limit": 1,
      "settings": [
        {
  "type": "image_picker",
  "id": "logo",
  "label": "Logo"
},
    {
  "type": "range",
  "id": "logo_size",
  "label": "Logo Size",
  "min": 1,
  "max": 100,
  "step": 1,
  "default": 10
},
{
  "type": "range",
  "id": "logo_top",
  "label": "Logo Top Position",
  "min": 0,
  "max": 100,
  "step": 1,
  "default": 10
},
{
  "type": "range",
  "id": "logo_left",
  "label": "Logo Left Position",
  "min": 0,
  "max": 100,
  "step": 1,
  "default": 10
}]}
  ],
  "presets": [
    {
      "name": "nav-bar",
      "blocks": [
        {
          "type": "logo"
        }
      ]
    }
  ]
}
{% endschema %}
