<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link
  rel="stylesheet"
  href="{{ 'component-cart-notification.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
<div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header__localization{% endif %}">
  <div class="desktop-localization-wrapper">
    {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
      <noscript class="small-hide medium-hide">
        {%- form 'localization', id: 'HeaderCountryMobileFormNoScript', class: 'localization-form' -%}
          <div class="localization-form__select">
            <h2 class="visually-hidden" id="HeaderCountryMobileLabelNoScript">
              {{ 'localization.country_label' | t }}
            </h2>
            <select
              class="localization-selector link"
              name="country_code"
              aria-labelledby="HeaderCountryMobileLabelNoScript"
            >
              {%- for country in localization.available_countries -%}
                <option
                  value="{{ country.iso_code }}"
                  {%- if country.iso_code == localization.country.iso_code %}
                    selected
                  {% endif %}
                >
                  {{ country.name }} ({{ country.currency.iso_code }}
                  {{ country.currency.symbol }})
                </option>
              {%- endfor -%}
            </select>
            {% render 'icon-caret' %}
          </div>
          <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
        {%- endform -%}
      </noscript>

      <localization-form class="small-hide medium-hide no-js-hidden">
        {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
          <div>
            <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
            {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
          </div>
        {%- endform -%}
      </localization-form>
    {% endif %}

    {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
      <noscript class="small-hide medium-hide">
        {%- form 'localization', id: 'HeaderLanguageMobileFormNoScript', class: 'localization-form' -%}
          <div class="localization-form__select">
            <h2 class="visually-hidden" id="HeaderLanguageMobileLabelNoScript">
              {{ 'localization.language_label' | t }}
            </h2>
            <select
              class="localization-selector link"
              name="locale_code"
              aria-labelledby="HeaderLanguageMobileLabelNoScript"
            >
              {%- for language in localization.available_languages -%}
                <option
                  value="{{ language.iso_code }}"
                  lang="{{ language.iso_code }}"
                  {%- if language.iso_code == localization.language.iso_code %}
                    selected
                  {% endif %}
                >
                  {{ language.endonym_name | capitalize }}
                </option>
              {%- endfor -%}
            </select>
            {% render 'icon-caret' %}
          </div>
          <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
        {%- endform -%}
      </noscript>

      <localization-form class="small-hide medium-hide no-js-hidden">
        {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
          <div>
            <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
            {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
          </div>
        {%- endform -%}
      </localization-form>
    {%- endif -%}
  </div>
  {% render 'header-search', input_id: 'Search-In-Modal' %}

  {%- if shop.customer_accounts_enabled -%}
    <a
      href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
      class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}"
    >
      {% render 'icon-account' %}
      <span class="visually-hidden">
        {%- liquid
          if customer
            echo 'customer.account_fallback' | t
          else
            echo 'customer.log_in' | t
          endif
        -%}
      </span>
    </a>
  {%- endif -%}

  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when '@app' -%}
        {% render block %}
    {%- endcase -%}
  {%- endfor -%}

  <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
    {%- liquid
      if cart == empty
        render 'icon-cart-empty'
      else
        render 'icon-cart'
      endif
    -%}
    <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
    {%- if cart != empty -%}
      <div class="cart-count-bubble">
        {%- if cart.item_count < 100 -%}
          <span aria-hidden="true">{{ cart.item_count }}</span>
        {%- endif -%}
        <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
      </div>
    {%- endif -%}
  </a>
</div>

{% schema %}
{
  "name": "shopping-icons",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
    "type": "header",
    "content": "t:sections.header.settings.header__3.content",
    "info": "t:sections.header.settings.header__4.info"
  },
  {
    "type": "checkbox",
    "id": "enable_country_selector",
    "default": false,
    "label": "t:sections.header.settings.enable_country_selector.label"
  },
  {
    "type": "header",
    "content": "t:sections.header.settings.header__5.content",
    "info": "t:sections.header.settings.header__6.info"
  },
  {
    "type": "checkbox",
    "id": "enable_language_selector",
    "default": false,
    "label": "t:sections.header.settings.enable_language_selector.label"
  }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
